/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/


/* reset do css */
/* pega todos os elementos da tela com o asterisco */
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* variaveis no css */
:root {
  --primary: #2A7AE4;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

/* zera margin padding do html e body */
html,
body {
  margin: 0;
  padding: 0;
}

/* tidas tags a herda a cor do elemento pai */
a {
  color: inherit;
} 
